.header {
  width: 88%;
  height: 5%;
  background-color: #3083AC;
  color: white;
  font-size: 1.2em;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 0.8%;
}

.user-mgmt {
  height: 100%;
}

.logo li {
  display: inline-block;
  float: left;
  margin-left: 5%;
  padding: 0.5% 0 0.5% 0;
  color: white;
  }

.username {
  height: 100%;
  display: inline-block;
  float: right;
  padding: 0.5% 1% 0.5% 1%;
  margin-left: 2%;
  text-decoration: none;
  color: white;
}

.user-mgmt li, .user-mgmt li:link, .user-mgmt li:visited, .user-mgmt li:hover, .user-mgmt li:active {
  display: inline-block;
  float: right;
  padding: 0.5% 1% 0.5% 1%;
  margin-left: 2%;
  text-decoration: none;
  color: white;
}
