<!DOCTYPE html>
<html>
<head>
  <title>Instagram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<section class='header'>
  <ul>
    <li><a class='insta' href=# style='text-decoration:none; color:white'>Instagram</a></li>
  </ul>
</section>

<%= yield %>

</body>
</html>
